.switch-container {
    display: flex;
    align-items: center;
}

.switch-label {
    margin-right: 8px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.switch-handle {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.switch.on {
    background-color: #00ADEE;
}

.switch.on .switch-handle {
    transform: translateX(22px);
}

.switch.off {
    background-color: #ccc;
}

.switch.off .switch-handle {
    transform: translateX(0);
}